body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  font-size: calc(10px + 1vmin);
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #005A8D;
  padding: 10px 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1 {
  margin: 0;
  font-size: 24px;
}

.App-header img {
  height: 50px;
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

.route-content {
  flex-grow: 1;
  padding: 20px;
}


.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.nav-link:hover {
  text-decoration: underline;
}